<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                   <!--  <li><a href="https://www.highkeen.com">Highkeen Technologies</a></li> -->
                   <li><a href="">Mobile: +91 8777070548 , +91 8274868445</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Highkeen Technologies© {{test | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>
