<div class="page-header" data-parallax="true" style="background-image: url('./assets/mainimage.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div style= "color: white; "class="motto">
            <p><font size="6">WELCOME TO THE SNEHASHIS WORLD OF ASTROLOGY</font></p>
            <p><font size="6">“Astrology reveals the will of the gods.</font></p>
            <br/>
            <button appAppHover type="button" (click)="openConsult()">BOOK CONSULTATION NOW</button>
    </div>
</div>
</div>