
.page-header {
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .page-header.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
  }
  .page-header.page-header-xs {
    min-height: 40vh !important;
  }
  .page-header.section-dark .content-center,
  .page-header.section-dark .category-absolute {
    z-index: 1;
  }

  .page-header .motto {
    text-align: center;
    z-index: 3;
    color: #fff;
    position: relative;
    margin-top: -200px;
  }
 

  button{
    background: none;
    color: #ccc;
    width: 260px;
    height: 60px;
    border: 2px solid;
    font-size: 18px;
    border-radius: 5px;
    transition: .6s;
    overflow: hidden;
  }